name: libphonenumber_example
description: Demonstrates how to use the libphonenumber plugin.

publish_to: 'none' 

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  libphonenumber_package:
    path: ../

  cupertino_icons: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true